<div class="container">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("#{@restaurant.id}.jpg")%>');">
   <p class="card-category"><%= @restaurant.category %></p>
   <div class="card-description">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
</div>

</div>

  <hr>

<div class="container">
<h1>Add a new review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], as: :select %>
  <%= f.input :content, class: "form-control" %>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
<% end %>
<div class="bouton"><%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %></div>
</div>

<div class="container">
  <h1>Reviews</h1>

  <% @reviews.each do |review| %>
    <ul class="list-unstyled">
      <li><%= review.content %></li>
      <p>My rate: <%= review.rating %></p>
    </ul>
  <% end %>
</div>

